.mapboxhero {
    width: 100vw !important;
    height: 40vh !important;
    margin-top: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 0.5px solid lightgray;
    border-radius: 2px;
}