
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto&display=swap');
/* font-family: 'Acme', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@600&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 275px;
    background-color: #e7bd06;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
    z-index: 100;
}
.headerWrapper{
  position: absolute;
  top: 0px;
  width: 950px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
  .headerTop{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .headerTopLeft{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

  }
  .headertopleft a{
    height: 100%;
    width: 100%;
  }
  .headerTopLeft img{
    padding: 3px;
    width: 135%;
    height: auto;
  }
  .headerTopRight{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .headerTagLineUpper{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

  }
  .headerTagLineUpper h1{
    font-family: Acme;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    
  }
  
  .headerTagLineLower{

    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
  }

.locationTag{
  font-family: Roboto;
  font-weight: 10;
  }
.phoneTag{
  font-family: Roboto;
  
}

  .headerNav{
    position: absolute;
    bottom: 0px;
    background-color: #e0b808;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .headerNav ul{
    width: 500px;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .headerNav ul li{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }
  .headerNav ul li:hover{
    background-color: black;
    color: white;
  }
  .headerNav ul li:nth-child(1){
    width: 100px;

  }
  .headerNav ul li:nth-child(2){
    width: 150px;

  }
  .headerNav ul li:nth-child(3){
    width: 150px;

  }
  .headerNav ul li:nth-child(4){
    width: 100px;

  }
  .headerNav ul li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;

    margin: 0;
    padding: 0;
  }

  .caret {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.5s ease;
  }
  .line{
    width: 5px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    border: .25px solid black;
  }
  .caret:hover{
    cursor: pointer;
    transform: rotate(180deg);
  }
  .caret:hover * {
      border-color: white;
  }
  
  .left{
    transform: rotate(45deg);
    right: 37%;
  }
  .right{
    transform: rotate(135deg);
    left: 37%;
  }
  
  