
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto&display=swap');
/* font-family: 'Acme', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@600&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  ul{
    list-style: none;
  }
  

#mainPage{
  position: absolute;
  top: 275px;
  
}

.mainHero{
  width: 100vw;
  height: 75vh;
  background-image: url(resources/img/Record\ Store\ Hero.jpg);
  background-size: cover;
}
.mainHeroOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(49, 48, 48, 0.801);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHeroOverlay div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.mainHeroOverlay h1{
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 50px;
  min-width: 950px;
  width: 55vw;
  height: 100%;
  text-align: center;
}

#mainpageinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  font-family: Roboto;
}

#mainpageinfowrapper{
  width: 950px;
}

.infobox{
  margin-top: 45px;
  margin-bottom: 45px;
}

.infoboxheader{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
}
.infoboxheader{
  font-size: 20px;

}
.infoboxlower{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.infoboxleft{
  margin-right: 50px;
  width: 450px;
}
.infoboxright{
  width: 450px;
}
.infoboxright img{
  width: 100%;
  height: auto;
}
