
/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto&display=swap');
/* font-family: 'Acme', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@600&family=Roboto&display=swap');
/*font-family: 'Play', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:wght@400&family=Play&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
    overflow: overlay;/*https://stackoverflow.com/questions/33606565/is-it-possible-to-calculate-the-viewport-width-vw-without-scrollbar*/
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }


  ul{
    list-style: none;
  }

.button{
  border-radius: 10px;
  width: 280px;
  height: 50px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  font-weight: 500;
}

.button:hover{
  background-color: #e7bd06;
  color: black;
}

#mainPage{
  position: absolute;
  top: 275px;
  
}

.HeroMain{
  width: 100vw;
  height: 800px;
  background-image: url(resources/img/heroBG.webp);
  background-size:cover;
  background-position: center;
}
.HeroNewRecords{
  width: 100vw;
  height: 600px;
  background-image: url(resources/img/newRecordsHero.webp);
  background-size:cover;
  background-position: center;
}
.HeroOverlay{
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 22, 0.719);
  display: flex;
  align-items: center;
  justify-content: center;
}
.HeroOverlay div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.HeroOverlay h1{
  font-family: 'Play', sans-serif;
  color: white;
  font-size: 50px;
  min-width: 950px;
  width: 55vw;
  height: 100%;
  text-align: center;
  margin-bottom: 5px;
}

#mainpageinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-family: Roboto;
}

#mainpageinfowrapper{
  width: 950px;
}

.infobox{
  margin-top: 45px;
  margin-bottom: 45px;
  height: fit-content;
}

.infobox a{
  margin-top: 20px;
}

.infoboxheader{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px;
  font-size: 30px;
  height: 30px;
  font-family: 'Play', sans-serif;
}

.infoboxlower{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.infoboxleft{
  margin-right: 50px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 450px;
}

.infoboxleftcd{
  margin-right: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  width: 450px;
}

.infoboxleft ul{
  list-style:disc;
  margin-left: 20px;
}


.infoboxright{
  width: 450px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.infoboxright img{
  width: 100%;
  height: auto;
}

.infobox video{
  width: 450px;
  height: auto;
}
